
@media (max-width: 768px) {

  /* Уменьшаем отступы */
  header,
  main,
  .menu {
    padding: 24px;
  }

  /* Хедер */
  h1 {
    font-size: 32px;
    line-height: 110%;
    margin-top: 20px;
  }

  .header-bottom img {
    width: 100%;
    height: auto;
  }

  /* Бургер-меню */
  .menu {
    padding: 40px 24px;
  }

  .nav-link {
    font-size: 18px;
    letter-spacing: 1px;
  }

  /* Recommended */
  .recomended-title {
    font-size: 32px;
  }

  .products {
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 32px;
  }

  .produkt-title {
    font-size: 20px;
  }

  /* Categories */
  .categories-title {
    font-size: 32px;
  }

  .photos {
    flex-direction: column;
    gap: 16px;
  }

  .photo-wide,
  .photo-square {
    width: 100%;
  }

  .category-title {
    font-size: 20px;
  }

  /* Benefits */
  .benefits {
    grid-template-columns: 1fr; /* Одна колонка на телефонах */
  }

  .benefits-title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .benefits-description {
    margin-top: 20px;
    font-size: 15px;
  }

  /* Уменьшаем высоту футера */
  footer {
    height: 300px;
    background-size: cover;
  }
}


/* ========================= */
/*    АДАПТАЦИЯ ДЛЯ ОЧЕНЬ    */
/*       МАЛЕНЬКИХ ЭКРАНОВ   */
/* ========================= */
@media (max-width: 480px) {

  h1 {
    font-size: 28px;
  }

  .recomended-title,
  .categories-title,
  .benefits-title {
    font-size: 28px;
  }

  .menu {
    padding: 32px 16px;
  }

  .product img {
    width: 100%;
  }
}
